body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.head {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, blue , black);
    height: 5rem;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

#left-side {
    display: flex;
    flex-direction: column;
    width: 21%;
    margin-left: .5rem;
}

#search {
    height: 2rem;
}

.city-form{
    display: flex;
    flex-direction: column;
}

.form-lable {
    font-size: 1.5em;
    font-weight: bolder;
}

#search-section {
    display: flex;
    height: 9.5rem;
    flex-direction: column;
    padding-bottom: 1.2rem;
    height: fit-content;
    border-bottom: 3px solid rgb(167, 167, 167);
}


#submitBtn {
    margin-top: .5rem;
    background-color: rgb(98, 142, 184);
    color: white;
    border: none;
    border-radius: 3px;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

#quick-access-links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.favorites {
    margin-bottom: 1rem;
    border-radius: 2px;
    border: none;
    font-weight: bolder;
    padding: .3rem .3rem .3rem .3rem;
    background-color: rgb(167, 167, 167);
}

#main-section {
    width: 77%;
    margin-top: .5rem;
    margin-left: 1rem;
    height: fit-content;
}

#city-selected {
    border: 1.5px solid rgb(167, 167, 167);
    margin-left: .5rem;
    margin-right: .7rem;
}

.city-displayed {
    margin-left: .2rem;
}

#city-header {
    margin-top: 2px;
}

#forecast-section{
    margin-left: .5rem;
}

#card-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards {
    background-color: rgb(47, 47, 97);
    height: 12rem;
    width: 9rem;
    margin-right: .7rem;
}



